body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

.hero {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    background-image: url("https://cdna.artstation.com/p/assets/covers/images/090/076/590/large/gabriel-varz-gabriel-varz-gabv-kaiju-no-8-artstation-cover.jpg?1752807727");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.hero h1 {
    font-size: 40px;
    text-transform: uppercase;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5)
}